/* Таблицы админки */
.table-hover tbody tr:hover {
  background-color: var(--admin-hover-bg) !important;
}

.table th {
  border-bottom: 2px solid var(--admin-border-color) !important;
  background-color: rgba(0, 0, 0, 0.2) !important;
  color: var(--text-color) !important;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(255, 255, 255, 0.02) !important;
}

/* Сортировка */
th.sortable a {
  color: var(--primary-color) !important;
  font-weight: bold !important;
}

/* Подсветка выбранной строки */
.table .selected td {
  background-color: var(--admin-hover-bg) !important;
}