DEBUG=True
SECRET_KEY=your_secret_key_here

# Database settings
DATABASE_NAME=future_prism
DATABASE_USER=future_prism_user
DATABASE_PASSWORD=your_password_here

# Для локальной разработки используйте:
DATABASE_HOST=localhost
# Для Docker-контейнеров используйте:
# DATABASE_HOST=db

DATABASE_PORT=5432

EMAIL_BACKEND=django.core.mail.backends.filebased.EmailBackend
EMAIL_FILE_PATH=sent_emails

# Настройки медиафайлов
MEDIA_ROOT=media
STATIC_ROOT=staticfiles
MEDIA_URL=/media/
STATIC_URL=/static/

# Allowed hosts
ALLOWED_HOSTS=localhost,127.0.0.1