# Django settings
DEBUG=True
SECRET_KEY=replace_with_secure_key

# Database settings
DATABASE_NAME=future_prism
DATABASE_USER=user
DATABASE_PASSWORD=password
DATABASE_HOST=db
DATABASE_PORT=5432

# Email settings
EMAIL_BACKEND=django.core.mail.backends.filebased.EmailBackend
EMAIL_FILE_PATH=sent_emails

# Media settings
MEDIA_ROOT=media
STATIC_ROOT=staticfiles

# Hosts
ALLOWED_HOSTS=localhost,127.0.0.1

# Другие настройки