/* static/css/variables.css */
:root {
  /* Цвета */
  --primary-color: #4FD6FF;
  --secondary-color: #FF78FF;
  --accent-color: #8B00FF;
  --background-color: #2B2B36;
  --text-color: rgba(244, 237, 237, 0.8);
  --header-bg: rgb(42, 48, 60);

  /* Градиенты */
  --primary-gradient: linear-gradient(45deg,
    var(--primary-color),
    var(--secondary-color),
    var(--accent-color)
  );
  --primary-gradient-transparent: linear-gradient(45deg,
    rgba(79, 214, 255, 0.8),
  rgb(253, 119, 253),
  rgb(138, 0, 253)
  );

  /* Эффекты */
  --button-hover-effect: transform 0.3s ease, box-shadow 0.3s ease;

  /* Размеры */
  --max-width: 1400px;

  /* Точки перелома */
  --breakpoint-mobile: 640px;
  --breakpoint-tablet: 768px;
  --breakpoint-small-mobile: 480px;

    /* Размеры кнопок */
  --button-large-padding-y: 0.875rem; /* 14px */
  --button-large-padding-x: 1.5rem;   /* 24px */
  --button-large-font: 1rem;          /* 16px */

  --button-medium-padding-y: 0.625rem; /* 10px */
  --button-medium-padding-x: 1rem;     /* 16px */
  --button-medium-font: 0.875rem;      /* 14px */

  --button-small-padding-y: 0.4375rem; /* 7px */
  --button-small-padding-x: 0.75rem;   /* 12px */
  --button-small-font: 0.75rem;        /* 12px */

  /* Размеры кнопок в мобильной версии */
  --button-mobile-large-padding-y: 0.75rem;  /* 12px */
  --button-mobile-large-padding-x: 1.25rem;  /* 20px */
  --button-mobile-medium-padding-y: 0.5rem;  /* 8px */
  --button-mobile-medium-padding-x: 0.875rem; /* 14px */
  --button-mobile-small-padding-y: 0.375rem;  /* 6px */
  --button-mobile-small-padding-x: 0.625rem;  /* 10px */
}