/* Неоновая кнопка */
.neon-button {
  background: var(--primary-gradient-transparent);
  color: var(--text-color);
  padding: 12px 24px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.neon-button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(79,214,255,0.5);
  opacity: 0.9;
}

/* Кнопка категории */
.category-button {
  padding: 0.5rem 1rem;
  border-radius: 12px;
  font-size: 0.875rem;
  line-height: 1.25rem;
  background: var(--primary-gradient-transparent);
  color: var(--text-color);
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

/* Ховер-эффект для категории */
.category-button:hover {
  transform: translateY(-3px) scale(1.03);
  box-shadow: 0 0 15px rgba(79, 214, 255, 0.7);
  opacity: 0.9; /* немного затемняем или делаем прозрачнее, как вам нужно */
}
/* Кнопка выхода */
.logout-btn {
  background: linear-gradient(135deg, rgba(255, 78, 78, 0.9), rgba(255, 0, 0, 0.9));
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 12px;
  font-size: 14px;
  text-transform: uppercase;
  transition: all 0.3s ease;
}