/* static/css/components/cards.css */

/* Карточки новостей */
.news-card {
  position: relative;
  border-radius: 12px;
  padding: 40px 20px; /* как в category-section */
  margin-bottom: 2rem; /* если надо, как в category-section */
  box-shadow: 0 0 20px rgba(79, 214, 255, 0.2);
  animation: fadeInUp 1s ease-in-out;
}
.news-card:hover {
  /* Можно усилить тень */
  box-shadow: 0 0 20px rgba(79, 214, 255, 0.5)!important;
  transition: box-shadow 0.3s ease;
}


/* Статистические карточки (примерно без изменений) */
.stat-card {
  background: rgba(0, 0, 0, 0.2);
  padding: 1.5rem;
  border-radius: 0.5rem;
  text-align: center;
  transition: transform 0.3s ease;
  box-shadow: 0 0 20px rgb(42, 48, 60);
}

.stat-card:hover {
  transform: translateY(-5px);
}

.stat-value {
  font-size: 2rem;
  font-weight: bold;
  background: linear-gradient(45deg, var(--primary-color), var(--secondary-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
