/* static/css/components/login.css */

/* Стили для кнопки входа */
button.neon-button.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

/* Исправление для мобильной версии */
@media (max-width: 640px) {
    button.neon-button.flex span {
        flex-grow: 1;
        text-align: center;
    }

    button.neon-button.flex svg {
        flex-shrink: 0;
        min-width: 20px;
    }
}